{{> head}}




    {{> navbar}}

    <div class="col-8">
        <h1>amelia</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, tempore assumenda vitae itaque dolores eos ipsa cumque ullam similique, porro officiis voluptates quos error. Magnam consectetur quidem atque fugit voluptatibus!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/amelia.jpg" height="200px;" class="img-thumbnail">
    </div>

   
    
    {{> footer}}